<script src="{{ asset('assets/DataTables/dataTablesManager.js') }}"></script>
<script>
    $(document).ready(function () {
        var params = {{table|raw}};
        $("#{{ tableId }}").dataTablesManager('{{ tableId }}', params);
    });
</script>
